In [63]:
import requests
import json
import pandas as pd

In [58]:
generate_report_response = requests.post(
    "https://d5dg1j9kt695d30blp03.apigw.yandexcloud.net/generate_report", # точка входа
    headers={
    "X-API-KEY": "5f55e6c0-e9e5-4a9c-b313-63c01fc31460", # ключ API
    "X-Nickname": "ddd.z.2000", # авторизационные данные
    "X-Cohort": "8" # авторизационные данные
    }
).json()
task_id = generate_report_response["task_id"]
task_id

'MjAyMi0xMS0zMFQwMzoxNDo0MglkZGQuei4yMDAw'

In [11]:
get_report_response = requests.get(
    f"https://d5dg1j9kt695d30blp03.apigw.yandexcloud.net/get_report?task_id={task_id}", 
    headers={
    "X-API-KEY": "5f55e6c0-e9e5-4a9c-b313-63c01fc31460",
    "X-Nickname": "ddd.z.2000",
    "X-Cohort": "8"
    }
).json()
#print(get_report_response) 
get_report_response

{'task_id': 'MjAyMi0xMS0zMFQwMjoyNTo1MQlkZGQuei4yMDAw',
 'status': 'RUNNING',
 'data': {'report_id': None,
  'start_day': None,
  'end_date': None,
  's3_path': {}}}

#### ========================================================================================================

In [15]:
# Тема 2. Анализ вводных по задаче
# Урок 6. Анализ источника: подключение к API
# task 1
get_report_response_2 = requests.get(
    f"https://d5dg1j9kt695d30blp03.apigw.yandexcloud.net/get_report?task_id={task_id}", 
    headers={
    "X-API-KEY": "5f55e6c0-e9e5-4a9c-b313-63c01fc31460",
    "X-Nickname": "ddd.z.2000",
    "X-Cohort": "8"
    }
).json()
get_report_response_2

NameError: name 'task_id' is not defined

In [81]:
get_report_response_2['data']

{'report_id': 'TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==',
 'start_day': '2022-10-31 00:00:00',
 'end_date': '2022-11-22 00:00:00',
 's3_path': {'customer_research': 'https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/customer_research.csv',
  'user_order_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/user_order_log.csv',
  'user_activity_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/user_activity_log.csv',
  'price_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/price_log.csv'}}

In [80]:
get_report_response_2['data']['report_id']

'TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw=='

#### ========================================================================================================

In [ ]:
# Тема 2. Анализ вводных по задаче
# Урок 7. Анализ источника: использование файлов и подключение к БД
# task 1

In [92]:
import requests
import json
import pandas as pd

#получаем report_id, идентификатор отчёта, который был возвращен в статусе SUCCESS в предыдущем уроке;
get_report_response_2 = requests.get(
    f"https://d5dg1j9kt695d30blp03.apigw.yandexcloud.net/get_report?task_id={task_id}", 
    headers={
    "X-API-KEY": "5f55e6c0-e9e5-4a9c-b313-63c01fc31460",
    "X-Nickname": "ddd.z.2000",
    "X-Cohort": "8"
    }
).json()
report_id = get_report_response_2.get('data').get('report_id')

# номер вашей когорты, который вы задали в запросе на отчёт;
cohort = 8
# ваш никнейм, который вы также задали при запросе на отчёт;
nickname = 'ddd.z.2000'
# имя файла
files = ('customer_research.csv', 'user_order_log.csv', 'user_activity_log.csv', 'price_log.csv')

for file in files:
    url = f"https://storage.yandexcloud.net/s3-sprint3/cohort_{cohort}/{nickname}/{report_id}/{file}"
    # выводим url который нужно выгрузить
    print(url)
    # сохраняем файл в локальную папку
    pd.read_csv(url).to_csv(f'./{file}_new', index = False)
    # выводим текст, что файл такой-то сохранён
    print(f'Downloaded {file}')

https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/customer_research.csv
Downloaded customer_research.csv
https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/user_order_log.csv
Downloaded user_order_log.csv
https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/user_activity_log.csv
Downloaded user_activity_log.csv
https://storage.yandexcloud.net/s3-sprint3/cohort_8/ddd.z.2000/TWpBeU1pMHhNUzB6TUZRd016b3hORG8wTWdsa1pHUXVlaTR5TURBdw==/price_log.csv
Downloaded price_log.csv

In [93]:
# task 2
# Логин: jovyan
# Пароль: jovyan
# Порт: 5432
# Хост: localhost
# База данных: de

In [1]:
import psycopg2
import pandas as pd
import numpy as np

conn = psycopg2.connect("host='localhost' port='15432' dbname='de' user='jovyan' password='jovyan'")
# переменная conn создаёт подключение к БД
cur = conn.cursor()

cur.close()
conn.close()

#### =======================================================================================================

In [ ]:
# Тема 2. Анализ вводных по задаче
# Урок 8. Анализ источника: описание его схемы
# task 1

In [1]:
import pandas as pd

In [65]:
customer_research = pd.read_csv(r'C:\Users\Артем\New_Jupyter\Yandex_Practicum\Sprint_3\customer_research.csv', encoding='Windows-1251')
user_activity_log = pd.read_csv(r'C:\Users\Артем\New_Jupyter\Yandex_Practicum\Sprint_3\user_activity_log.csv', encoding='Windows-1251')
user_order_log = pd.read_csv(r'C:\Users\Артем\New_Jupyter\Yandex_Practicum\Sprint_3\user_order_log.csv', encoding='utf-8')

In [79]:
customer_research.head(2)

               date_id  category_id  geo_id  sales_qty  sales_amt
0  2022-10-31T00:00:00         1001       1          5       4800
1  2022-10-31T00:00:00         1001       2          7       6720

In [80]:
user_activity_log.head(2)

,id,uniq_id,date_time,action_id,customer_id,quantity
0,1,cdffa70d56b7c458ac1125b817370ef1,2022-10-31T00:00:00,1,320,9
1,2,e387af681efc5152f212639cb4175a90,2022-10-31T00:00:00,3,741,11

In [81]:
user_order_log.head(2)

,id,uniq_id,date_time,city_id,city_name,customer_id,first_name,last_name,item_id,item_name,quantity,payment_amount
0,1,a3c69a524dbba8f7d64e37864a612287,2022-10-31T00:00:00,2,Ярославль,5401,Александр,Кузнецов,9,Ручка шариковая,5,225
1,2,302b73a856a889c182819a6fe4331289,2022-10-31T00:00:00,1,Ростов,1609,Евгений,Васильев,2,Молоко 5%,3,450

#### ========================================================================================================

In [66]:
# Тема 2. Анализ вводных по задаче
# Урок 9. Перенос данных в слои хранилища
# task 1

In [ ]:
import requests
import json
import pandas as pd
import psycopg2
import numpy as np

In [ ]:
conn = psycopg2.connect("host='localhost' port='15432' dbname='de' user='jovyan' password='jovyan'")
# переменная conn создаёт подключение к БД
cur = conn.cursor()

In [67]:
user_order_log.head(2)

,id,uniq_id,date_time,city_id,city_name,customer_id,first_name,last_name,item_id,item_name,quantity,payment_amount
0,1,a3c69a524dbba8f7d64e37864a612287,2022-10-31T00:00:00,2,Ярославль,5401,Александр,Кузнецов,9,Ручка шариковая,5,225
1,2,302b73a856a889c182819a6fe4331289,2022-10-31T00:00:00,1,Ростов,1609,Евгений,Васильев,2,Молоко 5%,3,450

In [68]:
user_order_log_2 = user_order_log[['id', 'date_time', 'city_id' ,'city_name' ,'customer_id' ,'first_name' ,'last_name' ,'item_id' ,'item_name' ,'quantity' ,'payment_amount']]
user_order_log_2.head(2)

,id,date_time,city_id,city_name,customer_id,first_name,last_name,item_id,item_name,quantity,payment_amount
0,1,2022-10-31T00:00:00,2,Ярославль,5401,Александр,Кузнецов,9,Ручка шариковая,5,225
1,2,2022-10-31T00:00:00,1,Ростов,1609,Евгений,Васильев,2,Молоко 5%,3,450

In [70]:
# наполняем данными user_order_log 
insert_uol = "insert into stage.user_order_log (id, date_time, city_id, city_name, customer_id, first_name, last_name, item_id, item_name, quantity, payment_amount) VALUES {s_val};" 

i = 0
step = int(user_order_log_2.shape[0] / 100)
while i <= user_order_log_2.shape[0]:
    print(i, end='\r')
    s_val =  str([tuple(x) for x in user_order_log_2.loc[i:i + step].to_numpy()])[1:-1]
    cur.execute(insert_uol.replace('{s_val}',s_val))
    conn.commit()
    i += step+1

In [73]:
customer_research.head(2)

               date_id  category_id  geo_id  sales_qty  sales_amt
0  2022-10-31T00:00:00         1001       1          5       4800
1  2022-10-31T00:00:00         1001       2          7       6720

In [78]:
# наполняем данными customer_research
conn = psycopg2.connect("host='localhost' port='15432' dbname='de' user='jovyan' password='jovyan'")
# переменная conn создаёт подключение к БД
cur = conn.cursor()

insert_cr = "insert into stage.customer_research (date_id ,category_id ,geo_id ,sales_qty ,sales_amt) VALUES {s_val};" 

i = 0
step = int(customer_research.shape[0] / 100)
while i <= customer_research.shape[0]:
    print(i, end='\r')
    s_val =  str([tuple(x) for x in customer_research.loc[i:i + step].to_numpy()])[1:-1]
    cur.execute(insert_cr.replace('{s_val}',s_val))
    conn.commit()
    i += step+1

In [ ]:
# наполняем данными customer_research
conn = psycopg2.connect("host='localhost' port='15432' dbname='de' user='jovyan' password='jovyan'")
# переменная conn создаёт подключение к БД
cur = conn.cursor()

insert_cr = "insert into stage.customer_research (date_id ,category_id ,geo_id ,sales_qty ,sales_amt) VALUES {s_val};" 

i = 0
step = int(customer_research.shape[0] / 100)
while i <= customer_research.shape[0]:
    print(i, end='\r')
    s_val =  str([tuple(x) for x in customer_research.loc[i:i + step].to_numpy()])[1:-1]
    cur.execute(insert_cr.replace('{s_val}',s_val))
    conn.commit()
    i += step+1

In [84]:
user_activity_log.head(2)

,id,uniq_id,date_time,action_id,customer_id,quantity
0,1,cdffa70d56b7c458ac1125b817370ef1,2022-10-31T00:00:00,1,320,9
1,2,e387af681efc5152f212639cb4175a90,2022-10-31T00:00:00,3,741,11

In [85]:
user_activity_log_2 = user_activity_log[['id', 'date_time', 'action_id' ,'customer_id' ,'quantity']]
user_activity_log_2.head(2)

   id            date_time  action_id  customer_id  quantity
0   1  2022-10-31T00:00:00          1          320         9
1   2  2022-10-31T00:00:00          3          741        11

In [88]:
# наполняем данными user_activity_log
conn = psycopg2.connect("host='localhost' port='15432' dbname='de' user='jovyan' password='jovyan'")
# переменная conn создаёт подключение к БД
cur = conn.cursor()

insert_ual = "insert into stage.user_activity_log (id ,date_time ,action_id ,customer_id ,quantity) VALUES {s_val};" 

i = 0
step = int(user_activity_log_2.shape[0] / 100)
while i <= user_activity_log_2.shape[0]:
    print(i, end='\r')
    s_val =  str([tuple(x) for x in user_activity_log_2.loc[i:i + step].to_numpy()])[1:-1]
    cur.execute(insert_ual.replace('{s_val}',s_val))
    conn.commit()
    i += step+1

In [ ]:
cur.close()
conn.close()